/* === HERO SECTION === */

.hero-section {
    padding: 80px 0;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-name {
    font-size: 7.5rem;
    font-weight: 700;
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}

.hero-subtitle {
    font-size: 2rem;
    color: #ccc;
    font-weight: 400;
    padding-bottom: 30px;
}

.hero-description {
    font-size: 1.8rem;
    color: #ddd;
    line-height: 1.8;
}

.hero-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    object-fit: cover;
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-text {
        align-items: center;
        flex: 0 0 300px;
    }

    .hero-name {
        font-size: 2.8rem;
    }

    .hero-subtitle {
        font-size: 2.3rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .hero-section {
        padding: 0px 0;
        width: 100%;
    }
}


/* Full screen dark background */
#welcome-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.6s ease;
}

/* Card style */
.modal-card {
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 90%;
    width: 400px;
    transform: translateY(0);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.modal-card h2 {
    font-size: 1.8rem;
    padding-bottom: 10px;
    margin-top: 10px;
}

.modal-card p {
    font-size: 1.4rem;
    padding-bottom: 10px;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
}

/* Enter button */
.enter-btn {
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    background: #00bcd4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

.enter-btn:hover {
    background: #0097a7;
}

/* Fade + slide down class */
#welcome-modal.hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-card.hidden {
    opacity: 0;
    transform: translateY(100px);
}